{% extends 'master.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block extra_css %}
	
{% endblock %}

{% block content %}
	
{% endblock %}

{% block extra_js %}
    
{% endblock %}

069CFB

<div class="single-related-product d-flex">
                                <a href="#"><img src="{% static 'img/top-products/vacuum-cleaner-deal-05.jpg' %}" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">Robot Vacuum Cleaner</a>
                                    <div class="price">
                                        <h6>Ksh26,000.00</h6>
                                        <h6 class="l-through">Ksh29,000.00</h6>
                                    </div>
                                </div>
                            </div>